<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gearaway - Be A Real Gamer</title>

    <!-- File CSS -->
    <link rel="stylesheet" href="../../assets/css/img.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/global.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/animation.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/responsive.css">
    <link rel='stylesheet prefetch' href='https://cdn.rawgit.com/filipelinhares/ress/master/dist/ress.min.css'>
    <link rel="stylesheet" type="text/css" href="../../assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/slick-theme.css">
    <link rel="stylesheet" href="../../assets/css/swiper.css">
    <link rel="stylesheet" href="../../assets/css/vid.css">


    <!-- Boostrapt 4 CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <!-- Font awesome 06 -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <style type="text/css">
        * {
          box-sizing: border-box;
        }
    
        .home-slider {
            width: 100%;
            margin: 50px 0px;
        }
    
        .slick-slide {
          margin: 0px 20px;
        }
    
        .slick-slide img {
            width: 100%;
            height: 100%;
            padding: 15px;
            object-fit: cover;
        }
    
        .slick-prev:before,
        .slick-next:before {
            color: black;
        }

        .slick-slide {
            transition: all ease-in-out .3s;
        }
    </style>
</head>

<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light" style="width: 100%;">
            <a class="navbar-brand" href="#">
                <img src="../../assets/img/logo.png" alt="" style="width: 6.5rem;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="">Products <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">Events & News</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">Support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Where to buy</a>
                  </li>
              </ul>

              <div class="navbar-nav ml-auto" style="margin-right: 2.3%;">
                <a href="" class="icon-hover">
                    <i class="fal fa-user header-icons icon-padding-lr"></i>
                </a>
                <a href="" class="header__shopping-cart icon-hover">
                    <i class="fal fa-shopping-cart header-icons"></i>
                    <span class="badget">1</span>
                </a>
              </div>
            </div>
          </nav>

        <div class="info">
            <span class="navbar-brand" href="#" style="color: #FFF; font-size: 24px;">Gear<span style="color: red; font-weight: 600;">away</span> </span>
            <h1 style="margin-top: 15px;">MAKE YOUR <span style="color: red; font-weight: 700;">PC</span> POWER</h1>
        </div>
    </header>

    <section class="content quk-view-container">
        <h1 style="font-weight: 400; text-align: center;">BEST <span style="font-weight: 300;">SELLING</span> </h1>
        <!-- Slide best selling -->
        <section class="regular slider home-slider multi-view-slider">
            <div class="item-view">
                <a href="">
                    <div style="position: relative;">
                        <div class="item-img">
                            <img src="../../assets/img_temp/pc_case_1.png">
                          </div>
                        <div class="overlay">
                            <a href="">
                                <i class="fal fa-shopping-cart"></i>
                            </a>
                            <a href="">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item-info">
                        <p>PC Gaming G3 103 GTX 1660 6GB Intel Core i3-9100F 8GB 120GB SSD</p>
                        <div>
                            <p style="color: #5A5A5A; font-size: 1.2rem; padding: 0px 8px;"><span style="text-decoration-line: line-through;">150$</span> <span style="color: red;"> 100$ </span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-view">
                <a href="">
                    <div style="position: relative;">
                        <div class="item-img">
                            <img src="../../assets/img_temp/pc_case_1.png">
                          </div>
                        <div class="overlay">
                            <a href="">
                                <i class="fal fa-shopping-cart"></i>
                            </a>
                            <a href="">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item-info">
                        <p>PC Gaming G3 103 GTX 1660 6GB Intel Core i3-9100F 8GB 120GB SSD</p>
                        <div>
                            <p style="color: #5A5A5A; font-size: 1.2rem; padding: 0px 8px;"><span style="text-decoration-line: line-through;">150$</span> <span style="color: red;"> 100$ </span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-view">
                <a href="">
                    <div style="position: relative;">
                        <div class="item-img">
                            <img src="../../assets/img_temp/pc_case_1.png">
                          </div>
                        <div class="overlay">
                            <a href="">
                                <i class="fal fa-shopping-cart"></i>
                            </a>
                            <a href="">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item-info">
                        <p>PC Gaming G3 103 GTX 1660 6GB Intel Core i3-9100F 8GB 120GB SSD</p>
                        <div>
                            <p style="color: #5A5A5A; font-size: 1.2rem; padding: 0px 8px;"><span style="text-decoration-line: line-through;">150$</span> <span style="color: red;"> 100$ </span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-view">
                <a href="">
                    <div style="position: relative;">
                        <div class="item-img">
                            <img src="../../assets/img_temp/pc_case_1.png">
                          </div>
                        <div class="overlay">
                            <a href="">
                                <i class="fal fa-shopping-cart"></i>
                            </a>
                            <a href="">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item-info">
                        <p>PC Gaming G3 103 GTX 1660 6GB Intel Core i3-9100F 8GB 120GB SSD</p>
                        <div>
                            <p style="color: #5A5A5A; font-size: 1.2rem; padding: 0px 8px;"><span style="text-decoration-line: line-through;">150$</span> <span style="color: red;"> 100$ </span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-view">
                <a href="">
                    <div style="position: relative;">
                        <div class="item-img">
                            <img src="../../assets/img_temp/pc_case_1.png">
                          </div>
                        <div class="overlay">
                            <a href="">
                                <i class="fal fa-shopping-cart"></i>
                            </a>
                            <a href="">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item-info">
                        <p>PC Gaming G3 103 GTX 1660 6GB Intel Core i3-9100F 8GB 120GB SSD</p>
                        <div>
                            <p style="color: #5A5A5A; font-size: 1.2rem; padding: 0px 8px;"><span style="text-decoration-line: line-through;">150$</span> <span style="color: red;"> 100$ </span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-view">
                <a href="">
                    <div style="position: relative;">
                        <div class="item-img">
                            <img src="../../assets/img_temp/pc_case_1.png">
                          </div>
                        <div class="overlay">
                            <a href="">
                                <i class="fal fa-shopping-cart"></i>
                            </a>
                            <a href="">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item-info">
                        <p>PC Gaming G3 103 GTX 1660 6GB Intel Core i3-9100F 8GB 120GB SSD</p>
                        <div>
                            <p style="color: #5A5A5A; font-size: 1.2rem; padding: 0px 8px;"><span style="text-decoration-line: line-through;">150$</span> <span style="color: red;"> 100$ </span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-view">
                <a href="">
                    <div style="position: relative;">
                        <div class="item-img">
                            <img src="../../assets/img_temp/pc_case_1.png">
                          </div>
                        <div class="overlay">
                            <a href="">
                                <i class="fal fa-shopping-cart"></i>
                            </a>
                            <a href="">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item-info">
                        <p>PC Gaming G3 103 GTX 1660 6GB Intel Core i3-9100F 8GB 120GB SSD</p>
                        <div>
                            <p style="color: #5A5A5A; font-size: 1.2rem; padding: 0px 8px;"><span style="text-decoration-line: line-through;">150$</span> <span style="color: red;"> 100$ </span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-view">
                <a href="">
                    <div style="position: relative;">
                        <div class="item-img">
                            <img src="../../assets/img_temp/pc_case_1.png">
                          </div>
                        <div class="overlay">
                            <a href="">
                                <i class="fal fa-shopping-cart"></i>
                            </a>
                            <a href="">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item-info">
                        <p>PC Gaming G3 103 GTX 1660 6GB Intel Core i3-9100F 8GB 120GB SSD</p>
                        <div>
                            <p style="color: #5A5A5A; font-size: 1.2rem; padding: 0px 8px;"><span style="text-decoration-line: line-through;">150$</span> <span style="color: red;"> 100$ </span></p>
                        </div>
                    </div>
                </a>
            </div>
        </section>

        <h1 style="font-weight: 400; text-align: center;">ON <span style="font-weight: 300;">SALE</span> </h1>
        <!-- Slide on sale products -->
        <section class="regular slider home-slider multi-view-slider">
            <div class="item-view">
                <a href="">
                    <div style="position: relative;">
                        <div class="item-img">
                            <img src="../../assets/img_temp/pc_case_1.png">
                          </div>
                        <div class="overlay">
                            <a href="">
                                <i class="fal fa-shopping-cart"></i>
                            </a>
                            <a href="">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item-info">
                        <p>PC Gaming G3 103 GTX 1660 6GB Intel Core i3-9100F 8GB 120GB SSD</p>
                        <div>
                            <p style="color: #5A5A5A; font-size: 1.2rem; padding: 0px 8px;"><span style="text-decoration-line: line-through;">150$</span> <span style="color: red;"> 100$ </span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-view">
                <a href="">
                    <div style="position: relative;">
                        <div class="item-img">
                            <img src="../../assets/img_temp/pc_case_1.png">
                          </div>
                        <div class="overlay">
                            <a href="">
                                <i class="fal fa-shopping-cart"></i>
                            </a>
                            <a href="">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item-info">
                        <p>PC Gaming G3 103 GTX 1660 6GB Intel Core i3-9100F 8GB 120GB SSD</p>
                        <div>
                            <p style="color: #5A5A5A; font-size: 1.2rem; padding: 0px 8px;"><span style="text-decoration-line: line-through;">150$</span> <span style="color: red;"> 100$ </span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-view">
                <a href="">
                    <div style="position: relative;">
                        <div class="item-img">
                            <img src="../../assets/img_temp/pc_case_1.png">
                          </div>
                        <div class="overlay">
                            <a href="">
                                <i class="fal fa-shopping-cart"></i>
                            </a>
                            <a href="">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item-info">
                        <p>PC Gaming G3 103 GTX 1660 6GB Intel Core i3-9100F 8GB 120GB SSD</p>
                        <div>
                            <p style="color: #5A5A5A; font-size: 1.2rem; padding: 0px 8px;"><span style="text-decoration-line: line-through;">150$</span> <span style="color: red;"> 100$ </span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-view">
                <a href="">
                    <div style="position: relative;">
                        <div class="item-img">
                            <img src="../../assets/img_temp/pc_case_1.png">
                          </div>
                        <div class="overlay">
                            <a href="">
                                <i class="fal fa-shopping-cart"></i>
                            </a>
                            <a href="">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item-info">
                        <p>PC Gaming G3 103 GTX 1660 6GB Intel Core i3-9100F 8GB 120GB SSD</p>
                        <div>
                            <p style="color: #5A5A5A; font-size: 1.2rem; padding: 0px 8px;"><span style="text-decoration-line: line-through;">150$</span> <span style="color: red;"> 100$ </span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-view">
                <a href="">
                    <div style="position: relative;">
                        <div class="item-img">
                            <img src="../../assets/img_temp/pc_case_1.png">
                          </div>
                        <div class="overlay">
                            <a href="">
                                <i class="fal fa-shopping-cart"></i>
                            </a>
                            <a href="">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item-info">
                        <p>PC Gaming G3 103 GTX 1660 6GB Intel Core i3-9100F 8GB 120GB SSD</p>
                        <div>
                            <p style="color: #5A5A5A; font-size: 1.2rem; padding: 0px 8px;"><span style="text-decoration-line: line-through;">150$</span> <span style="color: red;"> 100$ </span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-view">
                <a href="">
                    <div style="position: relative;">
                        <div class="item-img">
                            <img src="../../assets/img_temp/pc_case_1.png">
                          </div>
                        <div class="overlay">
                            <a href="">
                                <i class="fal fa-shopping-cart"></i>
                            </a>
                            <a href="">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item-info">
                        <p>PC Gaming G3 103 GTX 1660 6GB Intel Core i3-9100F 8GB 120GB SSD</p>
                        <div>
                            <p style="color: #5A5A5A; font-size: 1.2rem; padding: 0px 8px;"><span style="text-decoration-line: line-through;">150$</span> <span style="color: red;"> 100$ </span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-view">
                <a href="">
                    <div style="position: relative;">
                        <div class="item-img">
                            <img src="../../assets/img_temp/pc_case_1.png">
                          </div>
                        <div class="overlay">
                            <a href="">
                                <i class="fal fa-shopping-cart"></i>
                            </a>
                            <a href="">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item-info">
                        <p>PC Gaming G3 103 GTX 1660 6GB Intel Core i3-9100F 8GB 120GB SSD</p>
                        <div>
                            <p style="color: #5A5A5A; font-size: 1.2rem; padding: 0px 8px;"><span style="text-decoration-line: line-through;">150$</span> <span style="color: red;"> 100$ </span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-view">
                <a href="">
                    <div style="position: relative;">
                        <div class="item-img">
                            <img src="../../assets/img_temp/pc_case_1.png">
                          </div>
                        <div class="overlay">
                            <a href="">
                                <i class="fal fa-shopping-cart"></i>
                            </a>
                            <a href="">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item-info">
                        <p>PC Gaming G3 103 GTX 1660 6GB Intel Core i3-9100F 8GB 120GB SSD</p>
                        <div>
                            <p style="color: #5A5A5A; font-size: 1.2rem; padding: 0px 8px;"><span style="text-decoration-line: line-through;">150$</span> <span style="color: red;"> 100$ </span></p>
                        </div>
                    </div>
                </a>
            </div>
        </section>

        <h1 style="font-weight: 400; text-align: center;">NEW <span style="font-weight: 300;">PRODUCTS</span> </h1>
        <!-- Slide new products -->
        <section class="regular slider home-slider multi-view-slider">
            <div class="item-view">
                <a href="">
                    <div style="position: relative;">
                        <div class="item-img">
                            <img src="../../assets/img_temp/pc_case_1.png">
                          </div>
                        <div class="overlay">
                            <a href="">
                                <i class="fal fa-shopping-cart"></i>
                            </a>
                            <a href="">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item-info">
                        <p>PC Gaming G3 103 GTX 1660 6GB Intel Core i3-9100F 8GB 120GB SSD</p>
                        <div>
                            <p style="color: #5A5A5A; font-size: 1.2rem; padding: 0px 8px;"><span style="text-decoration-line: line-through;">150$</span> <span style="color: red;"> 100$ </span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-view">
                <a href="">
                    <div style="position: relative;">
                        <div class="item-img">
                            <img src="../../assets/img_temp/pc_case_1.png">
                          </div>
                        <div class="overlay">
                            <a href="">
                                <i class="fal fa-shopping-cart"></i>
                            </a>
                            <a href="">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item-info">
                        <p>PC Gaming G3 103 GTX 1660 6GB Intel Core i3-9100F 8GB 120GB SSD</p>
                        <div>
                            <p style="color: #5A5A5A; font-size: 1.2rem; padding: 0px 8px;"><span style="text-decoration-line: line-through;">150$</span> <span style="color: red;"> 100$ </span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-view">
                <a href="">
                    <div style="position: relative;">
                        <div class="item-img">
                            <img src="../../assets/img_temp/pc_case_1.png">
                          </div>
                        <div class="overlay">
                            <a href="">
                                <i class="fal fa-shopping-cart"></i>
                            </a>
                            <a href="">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item-info">
                        <p>PC Gaming G3 103 GTX 1660 6GB Intel Core i3-9100F 8GB 120GB SSD</p>
                        <div>
                            <p style="color: #5A5A5A; font-size: 1.2rem; padding: 0px 8px;"><span style="text-decoration-line: line-through;">150$</span> <span style="color: red;"> 100$ </span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-view">
                <a href="">
                    <div style="position: relative;">
                        <div class="item-img">
                            <img src="../../assets/img_temp/pc_case_1.png">
                          </div>
                        <div class="overlay">
                            <a href="">
                                <i class="fal fa-shopping-cart"></i>
                            </a>
                            <a href="">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item-info">
                        <p>PC Gaming G3 103 GTX 1660 6GB Intel Core i3-9100F 8GB 120GB SSD</p>
                        <div>
                            <p style="color: #5A5A5A; font-size: 1.2rem; padding: 0px 8px;"><span style="text-decoration-line: line-through;">150$</span> <span style="color: red;"> 100$ </span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-view">
                <a href="">
                    <div style="position: relative;">
                        <div class="item-img">
                            <img src="../../assets/img_temp/pc_case_1.png">
                          </div>
                        <div class="overlay">
                            <a href="">
                                <i class="fal fa-shopping-cart"></i>
                            </a>
                            <a href="">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item-info">
                        <p>PC Gaming G3 103 GTX 1660 6GB Intel Core i3-9100F 8GB 120GB SSD</p>
                        <div>
                            <p style="color: #5A5A5A; font-size: 1.2rem; padding: 0px 8px;"><span style="text-decoration-line: line-through;">150$</span> <span style="color: red;"> 100$ </span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-view">
                <a href="">
                    <div style="position: relative;">
                        <div class="item-img">
                            <img src="../../assets/img_temp/pc_case_1.png">
                          </div>
                        <div class="overlay">
                            <a href="">
                                <i class="fal fa-shopping-cart"></i>
                            </a>
                            <a href="">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item-info">
                        <p>PC Gaming G3 103 GTX 1660 6GB Intel Core i3-9100F 8GB 120GB SSD</p>
                        <div>
                            <p style="color: #5A5A5A; font-size: 1.2rem; padding: 0px 8px;"><span style="text-decoration-line: line-through;">150$</span> <span style="color: red;"> 100$ </span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-view">
                <a href="">
                    <div style="position: relative;">
                        <div class="item-img">
                            <img src="../../assets/img_temp/pc_case_1.png">
                          </div>
                        <div class="overlay">
                            <a href="">
                                <i class="fal fa-shopping-cart"></i>
                            </a>
                            <a href="">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item-info">
                        <p>PC Gaming G3 103 GTX 1660 6GB Intel Core i3-9100F 8GB 120GB SSD</p>
                        <div>
                            <p style="color: #5A5A5A; font-size: 1.2rem; padding: 0px 8px;"><span style="text-decoration-line: line-through;">150$</span> <span style="color: red;"> 100$ </span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-view">
                <a href="">
                    <div style="position: relative;">
                        <div class="item-img">
                            <img src="../../assets/img_temp/pc_case_1.png">
                          </div>
                        <div class="overlay">
                            <a href="">
                                <i class="fal fa-shopping-cart"></i>
                            </a>
                            <a href="">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item-info">
                        <p>PC Gaming G3 103 GTX 1660 6GB Intel Core i3-9100F 8GB 120GB SSD</p>
                        <div>
                            <p style="color: #5A5A5A; font-size: 1.2rem; padding: 0px 8px;"><span style="text-decoration-line: line-through;">150$</span> <span style="color: red;"> 100$ </span></p>
                        </div>
                    </div>
                </a>
            </div>
        </section>
    </section>

    <section class="events-container" style="background: linear-gradient(to bottom, rgba(57,57,57,1) 0%, rgba(57,57,57,1) 38%, rgba(38,38,38,1) 55%, rgba(38,38,38,1) 100%); color: #FFF;">
        <section class="content">
            <div class="grid-container">
                <p style="font-size: 2em; font-weight: 300; margin-bottom: 50px;">EVENTS & NEWS</p>
                <div class="container">
                    <div class="row">
                        <div class="page-wrap col-xl-7 grid-item">
                            <div id="home-slider">
                              <div class="swiper-container">
                                <div class="swiper-wrapper">
                                  <div class="swiper-slide swiper-slide" style="height: 100%;">
                                    <div class="swiper-image" data-swiper-parallax-y="-20%">
                                      <div class="swiper-image-inner swiper-image-left swiper-image" style="background-image:url(https://assets2.razerzone.com/images/pnx.assets/4e1df9019f354d30707d2b44f673a0cb/naga-lh-edition-home-large.jpg)">
                                        <h1 id="swiper_title" style="color: #FFF;">A <span class="emphasis">Breath</span>. <br><span>Of Fresh Air.</span></h1>
                                        <p>Chapter I, page XV</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="swiper-slide swiper-slide" style="height: 100%;">
                                    <div class="swiper-image" data-swiper-parallax-y="-20%">
                                      <div class="swiper-image-inner swiper-image-left swiper-image" style="background-image: url(https://cwsmgmt.corsair.com/hybris/homepage/images/hp_banner_icue_still.jpg);">
                                        <h1 id="swiper_title" style="color: #FFF;">The <span class="emphasis">Drop</span>. <br><span>Of Eternal life.</span></h1>
                                        <p>Chapter II, page VII</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="swiper-slide swiper-slide" style="height: 100%;">
                                    <div class="swiper-image" data-swiper-parallax-y="-20%">
                                      <div class="swiper-image-inner swiper-image-left swiper-image" style="background-image: url(https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
                                        <h1 id="swiper_title" style="color: #FFF;">A <span class="emphasis">Sense</span>. <br><span>Of Things to Come.</span></h1>
                                        <p>Chapter III, page XI</p>
                                      </div>
                                    </div>
                                  </div>
                          
                                </div>
                                <div class="swiper-pagination"></div>
                              </div>
                            </div>
                        
                            <!-- File JS -->
                            <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
                            <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.jquery.min.js'></script>
                            <script src="../../assets/js/swiper.js"></script>
                        </div>
    
                        <div class="col-xl-5 grid-item">
                            <a href="">
                                <div class="events-card_item" style="height: 48%;">
                                    <img src="https://cwsmgmt.corsair.com/hybris/homepage/images/cia/cia_mm150_690x340.jpg" alt="">
                                </div>
                            </a>

                            <a href="">
                                <div class="events-card_item" style="margin-top: 19px; height: 48%;">
                                    <img src="https://cwsmgmt.corsair.com/hybris/homepage/images/cia/cia_mm150_690x340.jpg" alt="">
                                </div>
                            </a>
                        </div>

                        <div class="col-xl-7 grid-item">
                            <a href="">
                                <div class="events-card_item" style="height: 48%;">
                                    <img src="https://cwsmgmt.corsair.com/hybris/homepage/images/cia/cia_mm150_690x340.jpg" alt="">
                                </div>
                            </a>

                            <a href="">
                                <div class="events-card_item" style="margin-top: 19px; height: 48%;">
                                    <img src="https://cwsmgmt.corsair.com/hybris/homepage/images/cia/cia_mm150_690x340.jpg" alt="">
                                </div>
                            </a>
                        </div>

                        <div class="col-xl-5 grid-item">
                            <a href="">
                                <div class="events-card_item" style="height: 99%;">
                                    <img src="https://cwsmgmt.corsair.com/hybris/homepage/images/cia/cia_mm150_690x340.jpg" alt="">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <section class="content sgt-brand-container">
        <section class="regular slider one-view-slider">
            <div class="sgt-view">
                <h1 style="font-weight: 300; text-align: center; margin-bottom: 55px;">LAPTOP <span style="font-weight: 400;">GAMING</span> </h1>

                <div class="row">
                    <div class="col-xl-3">
                        <a href="">
                            <div class="brand-view">
                                <!-- <video class="fan-colors SpiralRainbow active" src="../../assets/vid/msi.mp4" data-color="SpiralRainbow" type="video/mp4" muted="true" loop="loop" autoplay="autoplay"></video> -->
                                <video class="vid" src="../../assets/vid/msi.mp4" data-color="SpiralRainbow" type="video/mp4" muted="true" loop="loop" autoplay="autoplay"></video>
                                <div class="centered">
                                    <img src="https://storage-asset.msi.com/event/msi_main_menu/images/msi_logo.png" style="width: 100%;" alt="">
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-xl-3">
                        <a href="">
                            <div class="brand-view">
                                <!-- <video class="fan-colors SpiralRainbow active" src="../../assets/vid/msi.mp4" data-color="SpiralRainbow" type="video/mp4" muted="true" loop="loop" autoplay="autoplay"></video> -->
                                <video class="vid" src="../../assets/vid/msi.mp4" data-color="SpiralRainbow" type="video/mp4" muted="true" loop="loop" autoplay="autoplay"></video>
                                <div class="centered">
                                    <img src="https://storage-asset.msi.com/event/msi_main_menu/images/msi_logo.png" style="width: 100%;" alt="">
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-xl-3">
                        <a href="">
                            <div class="brand-view">
                                <!-- <video class="fan-colors SpiralRainbow active" src="../../assets/vid/msi.mp4" data-color="SpiralRainbow" type="video/mp4" muted="true" loop="loop" autoplay="autoplay"></video> -->
                                <video class="vid" src="../../assets/vid/msi.mp4" data-color="SpiralRainbow" type="video/mp4" muted="true" loop="loop" autoplay="autoplay"></video>
                                <div class="centered">
                                    <img src="https://storage-asset.msi.com/event/msi_main_menu/images/msi_logo.png" style="width: 100%;" alt="">
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-xl-3">
                        <a href="">
                            <div class="brand-view">
                                <!-- <video class="fan-colors SpiralRainbow active" src="../../assets/vid/msi.mp4" data-color="SpiralRainbow" type="video/mp4" muted="true" loop="loop" autoplay="autoplay"></video> -->
                                <video class="vid" src="../../assets/vid/msi.mp4" data-color="SpiralRainbow" type="video/mp4" muted="true" loop="loop" autoplay="autoplay"></video>
                                <div class="centered">
                                    <img src="https://storage-asset.msi.com/event/msi_main_menu/images/msi_logo.png" style="width: 100%;" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="sgt-view">
                <h1 style="font-weight: 300; text-align: center; margin-bottom: 55px;">LAPTOP <span style="font-weight: 400;">OFFICE</span> </h1>

                <div class="row">
                    <div class="col-xl-3">
                        <a href="">
                            <div class="brand-view">
                                <!-- <video class="fan-colors SpiralRainbow active" src="../../assets/vid/msi.mp4" data-color="SpiralRainbow" type="video/mp4" muted="true" loop="loop" autoplay="autoplay"></video> -->
                                <video class="vid" src="../../assets/vid/msi.mp4" data-color="SpiralRainbow" type="video/mp4" muted="true" loop="loop" autoplay="autoplay"></video>
                                <div class="centered">
                                    <img src="https://storage-asset.msi.com/event/msi_main_menu/images/msi_logo.png" style="width: 100%;" alt="">
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-xl-3">
                        <a href="">
                            <div class="brand-view">
                                <!-- <video class="fan-colors SpiralRainbow active" src="../../assets/vid/msi.mp4" data-color="SpiralRainbow" type="video/mp4" muted="true" loop="loop" autoplay="autoplay"></video> -->
                                <video class="vid" src="../../assets/vid/msi.mp4" data-color="SpiralRainbow" type="video/mp4" muted="true" loop="loop" autoplay="autoplay"></video>
                                <div class="centered">
                                    <img src="https://storage-asset.msi.com/event/msi_main_menu/images/msi_logo.png" style="width: 100%;" alt="">
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-xl-3">
                        <a href="">
                            <div class="brand-view">
                                <!-- <video class="fan-colors SpiralRainbow active" src="../../assets/vid/msi.mp4" data-color="SpiralRainbow" type="video/mp4" muted="true" loop="loop" autoplay="autoplay"></video> -->
                                <video class="vid" src="../../assets/vid/msi.mp4" data-color="SpiralRainbow" type="video/mp4" muted="true" loop="loop" autoplay="autoplay"></video>
                                <div class="centered">
                                    <img src="https://storage-asset.msi.com/event/msi_main_menu/images/msi_logo.png" style="width: 100%;" alt="">
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-xl-3">
                        <a href="">
                            <div class="brand-view">
                                <!-- <video class="fan-colors SpiralRainbow active" src="../../assets/vid/msi.mp4" data-color="SpiralRainbow" type="video/mp4" muted="true" loop="loop" autoplay="autoplay"></video> -->
                                <video class="vid" src="../../assets/vid/msi.mp4" data-color="SpiralRainbow" type="video/mp4" muted="true" loop="loop" autoplay="autoplay"></video>
                                <div class="centered">
                                    <img src="https://storage-asset.msi.com/event/msi_main_menu/images/msi_logo.png" style="width: 100%;" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="../../assets/js/slick.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../assets/js/regular_slick.js" type="text/javascript"></script>

    <footer class="page-footer">
        <div class="footer-container">
            <div class="container">
                <div class="row">
                  <div class="row col-xl-6">
                      <div class="col-xl-4">
                          <a href=""><h5 style="color: #FFF; font-size: 18px;">CONTACT US</h5></a>
                      </div>
                      <div class="col-xl-4">
                            <a href=""><h5 style="color: #FFF; font-size: 18px;">SUPPORT</h5></a>
                            <ul>
                                <li><a class="sub-link" href="">Link 1</a></li>
                                <li><a class="sub-link" href="">Link 2</a></li>
                                <li><a class="sub-link" href="">Link 3</a></li>
                                <li><a class="sub-link" href="">Link 4</a></li>
                            </ul>
                      </div>
                  </div>
      
                  <div class="col-xl-6">
                      <h2 style="color: red; font-size: 18px; font-weight: 800;">BE THE FIRST TO KNOW</h2>
                      <h2 style="font-size: 18px; margin-bottom: 13px;">Get special offers, exclusive product news, and event info straight to your inbox</h2>
                      <form class="btn-mail" action="">
                        <input type="text" placeholder="ENTER YOUR EMAIL.." name="">
                        <button type="submit">SEND</button>
                      </form>
                  </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
